<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MobileAutomationSuite" verbose="1" thread-count="1" parallel="tests">

    <listeners>
        <listener class-name="listener.TestNGListener"/>
    </listeners>

    <test name="AndroidLoginTest">
        <parameter name="platform" value="android"/>
        <classes>
            <class name="android.LoginTest"/>
        </classes>
    </test>

</suite>